{% extends "layout.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="pt-5 pb-4 col-md-6">
      <img
        src="{{url_for('static', filename='ytdl.png')}}"
        alt=""
        width="20%"
        class="mx-auto mb-4"
      />
      <h1>YouTube-dl</h1>
      <p>Download a video from youtube, tik tok, twitter and more</p>
    </div>
  </div>
  <div class="col-md-7 col-sm-12">
    <form action="/download">
      <div class="col-12">
        <label for="url" class="form-label">Link to a video:</label>
        <input
          type="text"
          id="url"
          name="url"
          class="form-control"
          placeholder="eg: https://www.youtube.com/watch?v=56OViB-CHIY or 56OViB-CHIY"
          required
        />
      </div>
      <hr class="my-4" />
      <div
        class="progress col-12 mb-2"
        role="progressbar"
        style="display: none"
      >
        <div
          class="progress-bar progress-bar-striped progress-bar-animated"
        ></div>
      </div>
      <div class="alert" role="alert" style="display: none"></div>
      <div class="col-12">
        <input
          type="submit"
          class="w-100 btn btn-primary btn-lg"
          value="Download"
        />
      </div>
    </form>
  </div>
</div>
{% endblock %}
